PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=tp_desarrollo_backend
DB_PORT=3306
RESEND_API_KEY=
EMAIL_FROM=onboarding@resend.dev

# Credenciales de Administrador
ADMIN_EMAIL=administraciongymfit@gmail.com
ADMIN_PASSWORD=adminfit

# Integración con Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=tu_access_token_de_prueba_aqui
MERCADOPAGO_PUBLIC_KEY=tu_public_key_de_prueba_aqui
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000

SMTP_USER=tucorreo@gmail.com
SMTP_PASS=abcdefghijk